*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    

}

header {
    padding: 50px;
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    justify-content: end;
}

nav ul li{
    margin-right: 20px;
    font-size: 15px;
}


nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul li a:hover{
    border: 3px solid black;
    transition: 0.8;
}


.aula{
   
    background-image: url(fundo_sessão\ 1.jpg);
    padding: 12em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    opacity: 80%;
}

.aula2 {
    color: rgb(0, 0, 0);
}

.aula2 h1{
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 1rem;
    
}

.aula2 p{
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 0.5rem;
}

hr {
  width: 2rem;
  margin: 0 auto;
  height: 0.09rem;
  background-color: rgb(0, 0, 0);
}

.container {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.1rem;
    margin-top: 20px;
}

.item1 {
    background-image: url(https://cdn.pixabay.com/photo/2023/08/31/14/00/cactus-8225203_1280.png);
    width: 15rem;
    height: 10rem;
    background-size: 50%;
    background-repeat: no-repeat;
    margin-top: 20px;
}



.item2 {
    background-image: url(https://cdn.pixabay.com/photo/2013/07/12/19/24/seedling-154735_1280.png);
    width: 15rem;
    height: 10rem;
    background-size: 50%;
    background-repeat: no-repeat;
}



.item3 {
    background-image: url(https://img.freepik.com/fotos-premium/ilustracao-em-vetor-clipart-de-plantas_1003030-13689.jpg?size=626&ext=jpg&ga=GA1.1.1880011253.1715558400&semt=ais_user);
    width: 15rem;
    height: 10rem;
    background-size: 50%;
    background-repeat: no-repeat;
}


.sessao h2{
    text-align: center;
    margin-top: 2em;
}